 @font-face {
     font-family: 'TT Lakes';
     src: url(sources/fonts/TTLakes-Bold.woff2) format('woff2');
     font-weight: 700;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'TT Lakes';
     src: url(sources/fonts/TTLakes-Medium.woff2) format('woff2');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'TT Lakes';
     src: url(sources/fonts/TTLakes-Regular.woff2) format('woff2');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
 }

 /**
  Начало Normalize
 */
 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }

 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
     padding-left: 0;
 }

 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
     margin: 0;
 }

 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(h1,
     h2,
     h3,
     h4,
     h5,
     h6,
     p,
     ul,
     ol,
     dl):where([class]) {
     margin-block: 0;
 }

 :where(dd[class]) {
     margin-left: 0;
 }

 :where(fieldset[class]) {
     margin-left: 0;
     padding: 0;
     border: none;
 }

 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
     list-style: none;
 }

 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
     --paragraphMarginBottom: 24px;

     margin-block: 0;
 }

 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
     margin-bottom: var(--paragraphMarginBottom);
 }


 /**
   Упрощаем работу с изображениями
  */
 img {
     display: block;
     max-width: 100%;
 }

 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
     font: inherit;
 }

 html {
     /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
     height: 100%;
 }

 /**
   Плавный скролл
  */
 html,
 :has(:target) {
     scroll-behavior: smooth;
 }

 body {
     /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
     min-height: 100%;
     /**
     Унифицированный интерлиньяж
    */
     line-height: 1.5;
 }

 /**
   Приводим к единому цвету svg-элементы
  */
 svg *[fill] {
     fill: currentColor
 }

 svg *[stroke] {
     stroke: currentColor
 }

 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
     transition-property: fill, stroke;
 }

 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
     * {
         animation-duration: 0.01ms !important;
         animation-iteration-count: 1 !important;
         transition-duration: 0.01ms !important;
         scroll-behavior: auto !important;
     }
 }

 /* Конец Normalize */




 :root {
     --color-dark: #1B1C21;
     --color-gray: #7E7E82;
     --color-accent: #41F6D7;
     --color-background: #F8F8F8;
     --color-pink: #FF3E79;
     

     --border-radius: 6px;
     --header-border: 2px solid #D9FFF5;
    --brand-item-border: 1px solid #EAEAEA;
     --transition-duration: 0.2s;

     --pagination-bullet-color: #979797;
     --pagination-active-bullet-color: #B5B6BC;
 }

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }


 .page {
     font-family: 'TT Lakes', sans-serif;
     font-weight: 300;
     line-height: 1.5;
     font-size: 14px;
     background-color: var(--color-background);
     color: var(--color-gray);
 }



 .header {
     background-image: linear-gradient(to right, var(--color-background), white);
     border-top: var(--header-border);
     height: 80px;
 }

 .header__text {
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    padding: 16px;
    text-wrap: wrap;
 }

 .main {
    background-color: var(--color-background);

}

.button,
.header__burger {
    background-color: transparent;
    display: block;
    border: none;
    /* margin: 23px clamp(7px, 2.45vw, 8px); */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--color-pink);
    cursor: pointer;

}
.button-figure {
   display: flex;
   justify-content: center;
   align-items: center;

}
.button__image {
   max-width: 20px;
   max-height: 20px;
   margin-left: 1px;
}

button:hover,
.header__burger:hover {
    opacity: 0.9;
    transition-duration: var(--transition-duration);
}

.swiper-container {
    margin-top: 16px;
    margin-left: 16px;
    overflow: hidden;
}

.swiper-slide {
    background-color: white;
    display: flex;
    width: clamp(224px, 29.1vw, 300px);
    height: 72px;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
    border: var(--brand-item-border);
    padding-inline: 16px;
    max-height: 1300vh; 
    transition: max-height 0.75s ease;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: 184px;
} 

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--pagination-bullet-color);
    margin: 6px;
}

.swiper-pagination-bullet-active {
    background-color: var(--pagination-active-bullet-color);
}

.brand-item__logo {
    max-height: 44px;
}

.show-all-button {
    display: none;
    
}


.brand-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 16px;
    flex-wrap: wrap;
}

.swiper-horizontal::before {
    content: "";
    position: absolute;
    right: -1.1vw;
    height: 72px;
    width: 24px;
    background-image: -webkit-linear-gradient(left, rgba(52, 73, 94, 0), #F8F8F8);
    background-image: linear-gradient(left, rgba(52, 73, 94, 0), #F8F8F8);
    z-index: 10;
}
.show-all-button-clicked-element {
    transform: rotate(180deg);
    transition-duration: var(--transition-duration);
}

.brand-slide--invisible {
    max-height: 0; 
    overflow: hidden; 
    transition: all 0.75s ease;
    position: absolute;
    top: 200px;

}
.show-all-button {
    display: inline-flex;
    column-gap: 16px;
    font-weight: 500;
    color: var(--color-dark);
    text-decoration: none;
    margin-left: 31px;
    margin-top: 24px;
    cursor: pointer;


}





@media (min-width: 1120px) {

    .brand-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .swiper-slide {
        background-color: white;
        display: flex;
        width: clamp(240px, 21.43vw, 300px);
    }
        
}



























/*

 .header-menu__inner {
     display: flex;
     justify-content: space-between;
     align-items: center;
     column-gap: 10px;
 }

 .header-menu__left,
 .header-menu__right {
     display: flex;

 }

 .header-menu__left {
     margin-left: clamp(7px, 2.5vw, 8px);
 }

 .header-menu__tablet-view {
     display: none;
 }

 .header-menu__right {
     margin-right: clamp(7px, 2.45vw, 8px);
 }

 .header-menu__right::before {
     content: "";
     width: 2px;
     height: 32px;
     background-color: #EAEAEA;
     border-radius: 1px;
     position: relative;
     top: 28px;
     left: -12px;
 }



 .header__logo {
     margin: 19px 16px 19px 16px;
     display: flex;
 }


 .main__heading {
     font-size: 28px;
     padding-left: 16px;
     padding-top: 24px;
 }

 .main__heading::before {
     content: url(sources/icons/highlight.svg);
     width: 4px;
     height: 40px;
     position: absolute;
     top: 112px;
     left: 0;
 }

 .continue-link {
     display: flex;
     column-gap: 16px;
     font-weight: 500;
     color: var(--color-dark);
     text-decoration: none;
     margin-left: 24px;
     margin-top: 16px;
     margin-bottom: 16px;
 }

 .links-list {
     display: flex;
     column-gap: 10px;
     margin-left: 16px;
     margin-bottom: 24px;
     margin-top: 24px;
     font-weight: 500;
     overflow: auto;
 }



 .links-list__link {
     display: flex;
     align-items: center;
     color: var(--color-gray);
     text-decoration: none;
     white-space: nowrap;
     padding: 6px 12px 6px 16px;
     font-size: 16px;
     user-select: none;
 }

 .links-list__item {
     display: flex;
 }

 .links-list__link:hover {
     color: #68686c;
     transition-duration: var(--transition-duration);
 }

 .links-list__item--is-active {
     border: var(--border);
     background-color: white;
     border-radius: var(--border-radius);
 }

 .links-list__link--is-active {
     cursor: default;
 }


 .article__text {
     letter-spacing: 0.2px;
     margin-left: 16px;
     margin-right: 16px;
 }

 .article__text:last-child {
     display: none;
 }

 .article-container {
     display: flex;
     flex-direction: column;
     column-gap: 48px;
 }

 .article__last-text {
     display: none;
 }

 .image-box {
     align-self: center;
     background-image: url(./sources/images/office.jpg);
     background-position: center center;
     background-size: cover;
     width: 320px;
     height: 176px;
 }

 .button__text {
     display: none;
 }































/*
 @media (min-width: 401px) {
     .header-menu__right::before {
         width: 0;
     }
 }

 @media (min-width: 501px) {
     .article__text:last-child {
         display: block;
     }
 }

 @media (min-width: 701px) {

     .header-menu__left {
         margin-left: 16px;
     }

     .header__burger {
         margin-right: 21px;
     }

     .header__logo {
         margin-left: 21px;
     }

     .header__logo::before {
         content: "";
         display: block;
         width: 2px;
         height: 32px;
         background-color: #EAEAEA;
         border-radius: 1px;
         position: absolute;
         top: 28px;
         left: 84px;
     }

     .article-container {
         flex-direction: row;
         justify-content: space-between;
     }

     .main__heading {
         padding-left: 24px;
     }

     .links-list,
     .article__text {
         margin-left: 24px;
     }

     .article__text {
         margin-right: 0;
     }

     .article-text-part {
         max-width: 42.9vw;
     }

     .continue-link {
         margin-left: 33px;
     }

     .image-box {
         border-radius: 3%;
         margin-right: 25px;
         margin-bottom: 40px;
         position: relative;
         overflow: hidden;
         width: 360px;
         height: 208px;
     }

     .article-image {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         object-fit: cover;
         width: 360px;
         height: 208px;
     }

     .header-menu-buttons {
         display: flex;
     }

     .header-menu__tablet-view {
         display: flex;
         margin-right: 22px;
     }

     .header-menu__right::before {
         width: 2px;
     }
 }

 @media (min-width: 1120px) {
     .header {
         visibility: hidden;
     }

     .header-menu__inner {
         justify-content: space-between;
         position: absolute;
         width: 100vw;
     }

     .button__text {
         display: block;
         white-space: nowrap;
     }

   .button-container {
    display: flex;
    column-gap: 8px;
    align-items: center;
    margin-top: 34px;
    margin-left: 32px;
   }

     .header-menu__right {
         visibility: visible;
         display: flex;
         flex-wrap: nowrap;
         margin-right: 2.85vw;
     }

     .header-menu__right::before {
         width: 0;
     }

     .header__button {
         display: flex;
         column-gap: 8px;
         align-items: center;
         margin-top: 34px;
         justify-content: center;
         margin: 8px 0;
     }

     .links-list {
         flex-wrap: wrap;
         row-gap: 13px;
         margin-left: 32px;
     }

     .main__heading::before {
         width: 3px;
         top: 42px;
     }

     .main__heading {
         padding-top: 42px;
     }

     .article-container {
         column-gap: 36px;
     }

     .article__text {
         margin-left: 34px;
         width: 490px;
     }

     .article-text-part {
        max-width: 46.87vw;
     }

     .article__last-text {
         display: inline;
     }

     .continue-link {
         margin-left: 40px;
     }

     .image-box {
         width: 531px;
         height: 307px;
         margin-right: 28px;
         margin-top: -20px;
     }

     .article-image {
         width: 531px;
         height: 307px;
     }

 }

 */ 