 @font-face {
     font-family: 'TT Lakes';
     src: url(sources/fonts/TTLakes-Bold.woff2) format('woff2');
     font-weight: 700;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'TT Lakes';
     src: url(sources/fonts/TTLakes-Medium.woff2) format('woff2');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'TT Lakes';
     src: url(sources/fonts/TTLakes-Regular.woff2) format('woff2');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
 }

 /**
  Начало Normalize
 */
 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }

 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
     padding-left: 0;
 }

 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
     margin: 0;
 }

 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(h1,
     h2,
     h3,
     h4,
     h5,
     h6,
     p,
     ul,
     ol,
     dl):where([class]) {
     margin-block: 0;
 }

 :where(dd[class]) {
     margin-left: 0;
 }

 :where(fieldset[class]) {
     margin-left: 0;
     padding: 0;
     border: none;
 }

 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
     list-style: none;
 }

 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
     --paragraphMarginBottom: 24px;

     margin-block: 0;
 }

 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
     margin-bottom: var(--paragraphMarginBottom);
 }


 /**
   Упрощаем работу с изображениями
  */
 img {
     display: block;
     max-width: 100%;
 }

 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
     font: inherit;
 }

 html {
     /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
     height: 100%;
 }

 /**
   Плавный скролл
  */
 html,
 :has(:target) {
     scroll-behavior: smooth;
 }

 body {
     /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
     min-height: 100%;
     /**
     Унифицированный интерлиньяж
    */
     line-height: 1.5;
 }

 /**
   Приводим к единому цвету svg-элементы
  */
 svg *[fill] {
     fill: currentColor
 }

 svg *[stroke] {
     stroke: currentColor
 }

 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
     transition-property: fill, stroke;
 }

 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
     * {
         animation-duration: 0.01ms !important;
         animation-iteration-count: 1 !important;
         transition-duration: 0.01ms !important;
         scroll-behavior: auto !important;
     }
 }

 /* Конец Normalize */




 :root {
     --color-dark: #1B1C21;
     --color-gray: #7E7E82;
     --color-accent: #41F6D7;
     --color-background: #F8F8F8;
     --color-pink: #FF3E79;


     --border-radius: 6px;
     --header-border: 2px solid #D9FFF5;
     --brand-item-border: 1px solid #EAEAEA;
     --transition-duration: 0.2s;

     --pagination-bullet-color: #979797;
     --pagination-active-bullet-color: #B5B6BC;
 }

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }


 .page {
     font-family: 'TT Lakes', sans-serif;
     font-weight: 300;
     line-height: 1.5;
     font-size: 14px;
     background-color: var(--color-background);
     color: var(--color-gray);
     overflow: hidden;
 }



 .header {
     background-image: linear-gradient(to right, var(--color-background), white);
     border-top: var(--header-border);
     height: 80px;
 }

 .header__text {
     font-weight: 300;
     font-size: 16px;
     text-transform: uppercase;
     text-align: left;
     padding: 16px;
     text-wrap: wrap;
 }

 .main {
     background-color: var(--color-background);

 }

 .button,
 .header__burger {
     background-color: transparent;
     display: block;
     border: none;
     /* margin: 23px clamp(7px, 2.45vw, 8px); */
     width: 40px;
     height: 40px;
     border-radius: 50%;
     border: 2px solid var(--color-pink);
     cursor: pointer;

 }

 .button-figure {
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .button__image {
     max-width: 20px;
     max-height: 20px;
     margin-left: 1px;
 }

 button:hover,
 .header__burger:hover {
     opacity: 0.9;
     transition-duration: var(--transition-duration);
 }

 .swiper-container {
     margin-top: 16px;
     margin-left: 16px;
     overflow: hidden;
 }

 .swiper-slide {
     background-color: white;
     display: flex;
     width: 240px;
     height: 72px;
     justify-content: space-between;
     align-items: center;
     border-radius: var(--border-radius);
     border: var(--brand-item-border);
     padding-inline: 16px;
     max-height: 1300vh;
     transition: max-height 0.75s ease;
 }

 .swiper-horizontal>.swiper-pagination-bullets,
 .swiper-pagination-bullets.swiper-pagination-horizontal,
 .swiper-pagination-custom,
 .swiper-pagination-fraction {
     top: 184px;
 }

 .swiper-pagination-bullet {
     width: 12px;
     height: 12px;
     background-color: var(--pagination-bullet-color);
     margin: 6px;
 }

 .swiper-pagination-bullet-active {
     background-color: var(--pagination-active-bullet-color);
 }

 .brand-item__logo {
     max-height: 44px;
 }

 .show-all-button {
     display: none;

 }


 .brand-list {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, 1fr);
     column-gap: 24px;
     row-gap: 16px;
     flex-wrap: wrap;
 }

 .swiper-horizontal::before {
     content: "";
     position: absolute;
     right: -1.1vw;
     height: 72px;
     width: 24px;
     background-image: -webkit-linear-gradient(left, rgba(52, 73, 94, 0), #F8F8F8);
     background-image: linear-gradient(left, rgba(52, 73, 94, 0), #F8F8F8);
     z-index: 10;
 }

 .show-all-button-clicked-element {
     transform: rotate(180deg);
     transition-duration: var(--transition-duration);
 }

 .brand-slide--invisible {
     max-height: 0;
     overflow: hidden;
     opacity: 0;
     transition: all 0.75s ease;
     position: absolute;
     top: 500px;

 }

 .show-all-button {
     display: inline-flex;
     column-gap: 16px;
     font-weight: 500;
     color: var(--color-dark);
     text-decoration: none;
     margin-left: 31px;
     margin-top: 24px;
     cursor: pointer;
 }




@media (min-width: 768px) {
    .swiper-slide {
        width: 224px
    }
}


 @media (min-width: 1120px) {

     .brand-list {
         grid-template-columns: repeat(4, 1fr);
     }

     .swiper-slide {
         background-color: white;
         display: flex;
         /* width: clamp(240px, 21.43vw, 300px); */
         width: 240px;
     }

 }


